<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated miner -->
      <package
            uri="http://prisma.cos.ufrj.br/processreuseminer"
            class="miner.MinerPackage"
            genModel="model/miner.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated minerv1 -->
      <package
            uri="http://prisma.cos.ufrj.br/processreuseminerv1"
            class="minerv1.Minerv1Package"
            genModel="model/minerv1.genmodel"/>
   </extension>

</plugin>
