<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Prom2RdlTransformator/src/br/ufrj/cos/prisma/prom2rdl/Prom2RdlTransformator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.ufrj.cos.prisma.prom2rdl.Prom2RdlTransformator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="metamodel/prom.xsd metamodel/prom-bpmn.xpdl.xml metamodel"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Prom2RdlTransformator"/>
</launchConfiguration>
